canvas#canvas

javascript:
  window.onload = function() {
    var ctx = document.getElementById("canvas").getContext("2d");

    $.getJSON('#{venues.scatter_query_path}', function(rows) {
      var data = [];
      var radiuses = [];

      for (var i = 0; i<rows.length; i++) {
        var row = rows[i];

        data.push({
          x: row.check_ins_count,
          y: row.rating,
        });

        //radiuses.push((row.tagged_users_count + 1) * 2);
      }

      new Chart(ctx, {
        type: 'scatter',
        data: {
          datasets: [{
            pointRadius: radiuses,
            data: data,
          }],
        },
        options: {
          tooltips: {
            mode: 'single',
            callbacks: {
              title: function(point) {
                var row = rows[point[0].index];
                return row.name + " (" + row.rating + ")";
              },
              label: function(point) {
                var row = rows[point.index];
                return row.check_ins_count + " check-ins";
              },
            },
          },
          legend: {
            display: false,
          },
          scales: {
            xAxes: [{
              display: false,
            }],
            yAxes: [{
              display: false,
            }],
          },
        },
      });
    });
  }
